<app-navbar></app-navbar>

<div class="container mx-auto mt-8">

    <!-- Tour Details Section -->
    <div class="flex">
      <!-- Left Image -->
      <div class="w-1/2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Tour Image Left" height="200">
      </div>
  
      <!-- Right Details -->
      <div class="w-1/2 pl-8">
        <h2 class="text-3xl font-semibold mb-4"> {{user[0].full_name}}</h2>
        


        <p class="text-gray-600 mb-4">
            Email : 
        <br/>

        <br/>


        {{user[0].email}}



        
        <p class="text-gray-600 mb-4">
            Phone Number : 
        <br/>

        <br/>
        

        {{user[0].phone_number}}

        </p>


  
       


          



      </div>
    </div>

  </div>
  <app-footer></app-footer>
  