<app-navbar></app-navbar>

<div class="container m-2 w-[80vw] block mx-auto justify-center items-center ">

  <!-- Tour Details Section -->
  <div class="flex">
    <!-- Left Image -->
    <div class="w-1/2">
      <img
      [src]="tour.image"
        alt="Tour Image Left" class="w-full h-auto">
    </div>



    <!-- Right Details -->
    <div class="w-1/2 pl-8">
      <h2 class="text-3xl font-semibold mb-4">{{ tour.event_name }}</h2>

      <hr />



      <p class="text-gray-600 mb-4">
        {{ tour.description }}
      </p>

      <hr />





      <!-- Cart Card -->
      <div class="bg-white p-4 rounded-lg shadow-md mb-4">       

        <!-- Price -->
        <p class="text-gray-600 mb-4">Price : Ksh.{{ tour.price }}</p>

        <p class="text-gray-600 mb-4">Destination : {{ tour.destination }}</p>


        <p class="text-gray-600 mb-4">Duration : {{ tour.duration }} day(s)</p>


        <p class="text-gray-600 mb-4">Start Date : {{ tour.start_date }}</p>


        <p class="text-gray-600 mb-4">Status :

          <span
            class="inline-flex items-center px-2.5 py-0.5 mx-1 text-xs font-medium leading-4 text-yellow-800 bg-yellow-100 rounded-full">
            {{ tour.status }}
          </span>

        </p>

        <a *ngIf="loggedIn" routerLink='/new_booking' class="bg-blue-500 text-white rounded-full px-4 py-2">
          Make Reservations
        </a>

        <a *ngIf="!loggedIn" routerLink='/login' class="bg-blue-500 text-white rounded-full px-4 py-2">
          Login to make reservations
        </a>

      </div>
    </div>
  </div>

  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Other Suggestions</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div *ngFor="let tour of events" class="bg-white rounded-md overflow-hidden shadow-md mb-4">
        <img [src]="tour.image" alt="Tour Image" class="w-full h-48 object-cover mb-4">
      
        <div class="p-4">
          <h3 class="text-xl font-semibold mb-2">
          <a routerLink="tour/{{tour.event_id}}">
            
            {{tour.destination}}
          </a>
          </h3>
          <p class="text-gray-600 mb-4">{{ truncateText(tour.description, 150) }}</p>
          <p class="text-sm text-gray-500">
            {{tour.duration}} Day(s) {{tour.price}} Ksh
          </p>
        </div>
      
        <div [ngClass]="{
              'bg-green-500': tour.status === 'Ongoing',
              'bg-red-500': tour.status === 'Past',
              'bg-yellow-500': tour.status === 'Upcoming'
            }" 
            class="py-2 px-4 flex justify-between items-center">
          <span class="text-white font-bold">
            {{tour.status}}
          </span>
        </div>
      </div>
      
    </div>

</div>
</div>

<app-footer></app-footer>