<nav class="bg-red-500">
  <div class="container mx-auto flex items-center justify-between p-4">
    <a routerLink="/" class="flex items-center space-x-3">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="text-2xl font-semibold whitespace-nowrap text-white">XPLORA T </span>
    </a>

    <form [formGroup]="searchForm" class="hidden md:flex items-center space-x-4">
      <input formControlName="searchTerm" type="text" placeholder="Search Tours" class="p-2 border border-gray-300 rounded-md" />
      <button type="button" (click)="searchTours()" class="bg-gray-700 text-white px-4 py-2 rounded-md">Search</button>
    </form>



    <div class="flex items-center space-x-4">
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
      <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    <div class="hidden md:flex items-center justify-between w-auto" id="navbar-search">
      <ul class="flex flex-col md:flex-row md:space-x-8 rtl:space-x-reverse mt-4 md:mt-0 text-white">
        <!-- <li *ngIf="loggedIn">
          <a routerLink="/new_tour" class="hover:underline">New Tour</a>
        </li> -->

          <li *ngIf="loggedIn">
          <a routerLink="/new_booking" class="hover:underline">Make Reservations</a>
        </li>

        <li *ngIf="loggedIn">
          <a routerLink="/profile" class="hover:underline">Welcome, {{ name }}</a>
        </li>

        
        <li >
          <a routerLink="/admin/tours" class="text-white hover:underline">All Tours</a>
        </li>

        <li *ngIf="!loggedIn">
          <a routerLink="/register" class="text-white hover:underline">Register</a>
        </li>


        <li *ngIf="!loggedIn">
          <a routerLink="/login" class="text-white hover:underline">Login</a>
        </li>

        <li *ngIf="loggedIn">
          <button type="button" (click)="Logout()" class="text-white hover:underline">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
