
<app-navbar></app-navbar>

<div class="container mx-auto mt-8 text-center">


  <div class="bg-white p-4 rounded shadow-md mt-8">
    <h2 class="text-2xl font-semibold mb-4">Tour Management Data Table</h2>
    <table class="min-w-full table-auto">
      <thead>
        <tr>
          <th class="border px-4 py-2">Destination</th>
          <th class="border px-4 py-2">Duration(days)</th>
          <th class="border px-4 py-2">Start Date</th>

          <th class="border px-4 py-2">Price(Ksh)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events; let i = index" class="hover:bg-gray-100">
          <td class="py-2 px-4 border-b">{{ event.destination }}</td>
          <td class="py-2 px-4 border-b">{{ event.duration }}</td>
          <td class="py-2 px-4 border-b">{{ event.start_date }}</td>
          <td class="py-2 px-4 border-b">{{ event.price }}</td>

          <td class="py-2 px-4 border-b space-x-2">
            <button class="text-blue-500 hover:text-white hover:bg-blue-500 px-2 py-1 rounded cursor-pointer" (click)="showTourDetails(event)">
              Details
            </button>
            <button class="text-green-500 hover:text-white hover:bg-green-500 px-2 py-1 rounded cursor-pointer" (click)="editTour(event)">
              Edit 
            </button>
            <button class="text-red-500 hover:text-white hover:bg-red-500 px-2 py-1 rounded cursor-pointer" (click)="deleteTour(event)">
              Delete 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
